.cardContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4vmin;
    cursor: pointer;
    margin: 4rem 0;
}

.cardContainer:nth-child(2n + 1) {
    flex-direction: row-reverse;
    margin: 0;
}

.cardImage {
    width: 100%;
    height: auto;
    min-height: 6rem;
    max-height: 26rem;
    object-fit: cover;
}

.metaDot {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: gray;
}